<template>
  <div class="collaboration">
    <Header />
    <div class="main-container">
        <Rooms />
        <Messages />
    </div>
  </div>
</template>

<script>
import Header from './Header.vue'
import Rooms from './Rooms.vue'
import Messages from './Messages.vue'
export default {
  name: 'Collaboration',
  components: {
    Header,
    Rooms,
    Messages
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.collaboration{
    margin: 20px;
    height: 100%;
}
.main-container{
    display: flex;
    height: 100%;
}
</style>
