<template>
  <div class="header">
    <div class="new-container" style="display:flex" >
        <h1>Collaboration</h1>
        <button>New Topic</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
.header{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.new-container{
    align-items: center;
    justify-content:space-between;
}
button{
    background-color: #ED8F07;
    border: none;
    color: white;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
}
</style>
