<template>
  <div class="message-container">
      <h1>Hello</h1>
  </div>
</template>

<script>
export default {
  name: 'Messages',
  components: {
    
  },
  data(){
      return {
          Rooms : {}
      }
  },
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.message-container{
    width: 70%;
}

</style>
