<template>
  <div class="rooms-container">
      <Room />
  </div>
</template>

<script>
import Room from './Room.vue'
export default {
  name: 'Rooms',
  components: {
    Room
  },
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.rooms-container{
    width: 30%;
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    overflow: auto;
}

</style>
