<template>
  <div class="room-space">
     <h3>Hello</h3> 
  </div>
</template>

<script>
export default {
  name: 'Room',
  components: {
    
  },
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.room-space{
    margin-top: 10px;
    height: 75px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>
