<template>
  <div id="app">
    <Collaboration />
  </div>
</template>

<script>
import Collaboration from './components/Collaboration-ui.vue'

function socketConnection(){
    const socket = new WebSocket(process.env.WEBSOCKET_URL);
    socket.onopen = function (e){
      console.log(e,new Date())
    }
    socket.onclose = function (e){
      console.log(e,new Date())
      setTimeout(socketConnection(),5000)
    }
  }
socketConnection()

export default {
  name: 'App',
  components: {
    Collaboration
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  height: 100vh;
}

</style>
